<div id="contentAbout" class="content-section content-about">
  <a name="about"></a>
  <h2 class="content-heading">About</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-circle content-img-circle" src="images/profile-pic.jpg">
      </div>
      <div class="col-sm-6 content-text">
        <p>Full-stack Web App Engineer with 16 years of award-winning web experience for high-end clients such as <strong>Coca-Cola</strong> , <strong>LG</strong>, <strong>Hilton</strong>, <strong>The Washington Post</strong>, <strong>LinkedIn</strong> and the award-winning <strong>BostonGlobe.com</strong>. Currently pursuing an <strong>MIT certificate in Big Data and Social Analytics.</strong></p>
        <div>
          <ul class="label-list">
            <li class="label-list-item" ng-repeat="skill in $ctrl.skills"><span class="label label-primary">{{skill}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.content-about -->
